<% title "Sub Categoria Produtos" %>

<table>
  <tr>
    <th>Nome</th>
    <th>Categoria Produto</th>
  </tr>
  <% for sub_categoria_produto in @sub_categoria_produtos %>
    <tr>
      <td><%= sub_categoria_produto.nome %></td>
      <td><%= sub_categoria_produto.categoria_produto %></td>
      <td><%= link_to "Show", [:admin, sub_categoria_produto] %></td>
      <td><%= link_to "Edit", edit_admin_sub_categoria_produto_path(sub_categoria_produto) %></td>
      <td><%= link_to "Destroy",[:admin, sub_categoria_produto], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sub Categoria Produto", new_admin_sub_categoria_produto_path %></p>
