<% title "Classe Produtos" %>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <% for classe_produto in @classe_produtos %>
    <tr>
      <td><%= classe_produto.nome %></td>
      <td><%= link_to "Show", [:admin, classe_produto] %></td>
      <td><%= link_to "Edit", edit_admin_classe_produto_path(classe_produto) %></td>
      <td><%= link_to "Destroy", [:admin, classe_produto], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Classe Produto", new_admin_classe_produto_path %></p>
