<%= form_for @sub_categoria_produto do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :categoria_produto %><br />
    <%= f.text_field :categoria_produto %>
  </p>
  <p><%= f.submit %></p>
<% end %>
