<% title "Sub Categoria Produto" %>

<p>
  <strong>Nome:</strong>
  <%= @sub_categoria_produto.nome %>
</p>
<p>
  <strong>Categoria Produto:</strong>
  <%= @sub_categoria_produto.categoria_produto %>
</p>

<p>
  <%= link_to "Edit", edit_sub_categoria_produto_path(@sub_categoria_produto) %> |
  <%= link_to "Destroy", @sub_categoria_produto, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sub_categoria_produtos_path %>
</p>
